body {
    min-height: 100vh;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    padding:0;
    margin:0;
    border:0;
  }
input{
    border: 2px solid rgb(12, 228, 174);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
    
}

input:invalid{
    border-color: red;

}

input:valid{
    border: rgb(3, 255, 3);
    
}



.container{
    display:flex;
    height: 100vh;
    background-color: rgb(255, 255, 255);

}


img{
    width:40%;
   
}
.left-text {
    display: flex;
    flex-direction:column;
    width: 40%;
    height: 100%;
    background: url(photoholgic-AN5G45qartA-unsplash.jpg)center;
    background-size: cover;
    align-items: center;
    justify-content: space-between;
  }

  .banner{
      padding-top: 30%;
  }

.right-side-bar{
    display:flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color:rgb(183, 211, 211);
    width:100%;
   
}

.intro{
    background-color:rgb(183, 211, 211);
    margin:0;
    padding-left: 50px;
    
}

.sign-up{
    background-color: white;
    padding: 50px;

}

.sign-up-form{
    display:flex;
    gap:300px; 
    width: 50%;
   
}

.left-sign-up-form, .right-sign-up-form{
    display:flex;
    flex-direction:column;
    gap:100px;

}

.vertical-alignment{
    display:flex;
    flex-direction:column;

}

.log-in{
    background-color:rgb(183, 211, 211);
    padding-left:50px;
    padding-bottom: 10%;
    margin:0;
}

.btn {
    width: 15%;
    height: 50px;
    color: rgb(255, 255, 255);
    background: rgb(8, 8, 8);
    border: none;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
}

span{
    padding-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

